body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajustado para ocupar toda la altura de la ventana */
    margin: 0;
}

.container {
    background-color: #fff; /* Fondo blanco para resaltar contenido */
    border-radius: 20px; /* Borde más suave */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra más sutil */
    padding: 40px; /* Espacio interno */
    max-width: 400px; /* Limitar el ancho máximo */
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centrar texto */
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem; /* Ajuste de tamaño para mejor visualización */
    color: #333; /* Color de texto más suave */
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.input-group input,
.input-group button {
    width: 100%;
    padding: 10px;
    border-radius: 5px; /* Borde más suave */
    border: 1px solid #ddd; /* Borde ligero para inputs */
    box-sizing: border-box;
    margin-top: 10px;
}

.input-group button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Efecto de transición */
}

.input-group button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}
